.activity_block,
.activity_block * {
  transition: width 0.5s ease, opacity 0.2s ease, margin 0.1s ease, z-index 0s linear; 
}

.activity_block {
  z-index: 1000;
}

.activity_block:hover {
  z-index: 1500;
}

._syjon_activity_checkbox {
  position: absolute;
  opacity: 0;
}

#horizontal_menu ul li ul {
  z-index: 1111 !important;
}

.subject_content {
  font-size: 110%;
  font-weight: 700;
}

.activity_block:hover .subject_content {
  margin-left: 17px;
}

.activity_block:hover ._syjon_activity_checkbox {
  opacity: 1;
}

.bottom_content_containter .room_content a {
  font-size: 110%;
}

._syjon_hidden_block {
  opacity: 0;
  z-index: 1 !important;
}

._syjon_time {
  margin: 0.7em 0;
}

._syjon_ignore, 
._syjon_day_whole_ignore,
._syjon_day_working_ignore,
._syjon_day_weekend_ignore,
._syjon_day_ignore {
  opacity: 0 !important;
  left: -100% !important;
}