.activity_block,
.activity_block * {
  transition: width 0.5s ease, opacity 0.2s ease, margin 0.1s ease, z-index 0s linear, height 0.2s ease;
}

.activity_block {
  z-index: 1000;
}

.activity_block:hover {
  z-index: 1500;
}

._syjon_activity_checkbox {
  position: absolute;
  opacity: 0;
  left: 5px;
  top: 7px;
}

._syjon_item_lecturer {
  font-weight: bold;
}

li._syjon_item_studies a {
  color: #727272;
}

._syjon_item_lecturer,
._syjon_item_studies {
  height: 0;
  opacity: 0;
}

#horizontal_menu ul li ul {
  z-index: 1111 !important;
}

.subject {
  font-size: 110%;
  font-weight: 700;
}

.activity_block:hover .subject {
  margin-left: 17px;
}

.activity_block:hover ._syjon_activity_checkbox {
  opacity: 1;
}

.activity_block:hover ._syjon_item_lecturer,
.activity_block:hover ._syjon_item_studies {
  height: 14px;
  opacity: 1;
}

.activity_block .room a {
  font-size: 110%;
}

._syjon_hidden_block {
  opacity: 0;
  z-index: 1 !important;
}

._syjon_time {
  margin: 0.7em 0;
}

._syjon_ignore, 
._syjon_day_whole_ignore,
._syjon_day_working_ignore,
._syjon_day_weekend_ignore,
._syjon_day_ignore {
  opacity: 0 !important;
  left: -100% !important;
}