* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  
  text-align: left;
  
  margin: 0;
  padding: 0;
  
  min-width: 15em;
  max-width: 15em;
  min-height: 25em;

  background: #eee;
}

a {
  text-decoration: none;
  color: #0191f1;
}

a:hover {
  color: #013157;
}

.logo {
  position: relative;
  height: calc(50px + 2em);

  padding: 1em;

  background: #eee;
}

.logo img {
  margin-top: 0.5em;
  margin-right: 0;
}

.logo #title {
  font-weight: 200;
  
  padding-top: 0;
  float: right;
}

.logo #info {
  position: absolute;
  bottom: 1em;
  right: 1em;
  
  font-size: 9px;
}

.tools {
  position: relative;
  width: 15em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  min-height: 1em;

  padding: 1em;

  background: #fff;
}

.left {
  display: inline;
  position: absolute;
  left: 0;
  text-align: left;
}

.right {
  display: inline;
  position: absolute;
  right: 0;
  text-align: right;
}

.filter {
  padding: 1em;
  margin-bottom: 0.5em;

  background: #fff;
}

.number-input {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.filter > p {
  position: relative;
  height: 1.5em;
}

.filter input[type="number"] {
  width: 32px;
  border: none;
  font-size: 14px;
  margin-top: -0.7em;
}

.filter .glabel {
  text-align: left;
  flex: 1;
}

.settings {
  padding: 1em;
  margin-bottom: 0.5em;

  background: #fff;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  max-width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  bottom: 100%;
  left: 50%;
  margin-left: -50%;
  position: absolute;
  z-index: 1;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
